<div class="c-post">
  {{#if fields.date }}
    <date class="o-date c-post__date">{{#date fields.date}}{{/date}}</date>
  {{/if}}
  <h3 id="{{#idCreator fields.title}}{{/idCreator}}-headline" class="o-headline-3" >
    {{#if fields.externalUrl }}
      <a href="{{ fields.externalUrl }}">{{ fields.title }}</a>
    {{else}}
      <a href="{{ _fileName }}">{{ fields.title }}</a>
    {{/if}}
  </h3>

  {{#if fields.excerpt }}
    <section>{{#marked fields.excerpt}}{{/marked}}</section>
  {{/if}}

  {{#if fields.externalUrl }}
    <p class="u-marginTopAuto">Read on <a href="{{ fields.externalUrl }}">{{mainUrl fields.externalUrl }}</a></p>
  {{else}}
    <p class="u-marginTopAuto"><a href="{{ _fileName }}" class="u-underline" aria-labelledby="{{#idCreator fields.title}}{{/idCreator}}-headline">Read the full article</a></p>
  {{/if}}
</div>