<div class="c-post">
  {{#if fields.date }}
    <date class="o-date c-post__date">{{#date fields.date}}{{/date}}</date>
  {{/if}}

  <h3 class="o-headline-3">
    {{#if fields.externalUrl }}
      <a href="{{ fields.externalUrl }}">{{ fields.title }}</a>
    {{else}}
      <a href="{{ fields.slug }}.html">{{ fields.title }}</a>
    {{/if}}
  </h3>

  {{#if fields.externalUrl }}
    <p class="u-marginTopAuto">Read on <a href="{{ fields.externalUrl }}" target="blank" rel="noopener">{{mainUrl fields.externalUrl }}</a></p>
  {{else}}
    <p class="u-marginTopAuto"><a href="{{ fields.slug }}.html" class="u-underline">Read the article</a></p>
  {{/if}}

</div>