<script>
  if( 'serviceWorker' in navigator ) {
    navigator.serviceWorker
             .register( '/sw.js' )
             .then( function() { console.log( 'Service Worker Registered' ); } );

    window.addEventListener( 'load', function() {
      var offlineNotice = document.getElementById( 'offline-notice' );

      function updateOnlineStatus() {
        if ( navigator.onLine ) {
          document.documentElement.classList.remove( 'is-offline' );
        } else {
          document.documentElement.classList.add( 'is-offline' );
        }
      }

      window.addEventListener( 'online',  updateOnlineStatus );
      window.addEventListener( 'offline', updateOnlineStatus );
      updateOnlineStatus();
    } );
  }
</script>
