{#
  SHORT LIST
  ##############################################################################
#}
{% macro shortList(title, collection, length, slug) %}
  <a href="/{{ slug }}/" class="no-underline">
    <h3 class="margin-bottom-s o-headline-4">
      {{ title }}
    </h3>
  </a>

  <ul class="list-shortPreview fs-s">
    {% for i in range(0, length) %}
      <li>
        <a class="highlight-on-hover" href="{{ collection[i] | entryUrl }}">
          {{ collection[i].fields.title }}
        </a>
      {% endfor %}
  </ul>
{% endmacro %}

{#
  ENTRY PREVIEW
  ##############################################################################
#}
{% macro entryPreview(entry, options) %}
  <article>
    {% if entry.fields.date %}
      <time datetime="{{ entry.fields.date }}" class="c-prettyDate">
        {{ entry.fields.date | readableDate }}
      </time>
    {% endif %}
    <div class="entry-header">
      <a class="no-underline" href="{{ entry | entryUrl }}">
        <h2>{{ entry.fields.title }}</h2>
      </a>
    </div>

    {{ entryTopics(entry, { includeHeadline: false, displayInline: true }) }}

    {% if entry.fields.description %}
      <p class="margin-top-s margin-bottom-m">{{ entry.fields.description }}</p>
    {% endif %}

  </article>
{% endmacro %}

{#
  ENTRY DETAILS
  ##############################################################################
#}
{% macro entryDetails(entry) %}
  <dl class="entryDetails">
    {% if entry.fields.date %}
      <div>
        <dt>Published at</dt>
        <dd class="u-color-catchy">
          <time datetime="{{ entry.fields.date }}" class="c-prettyDate">
            {{ entry.fields.date | readableDate }}
          </time>
        </dd>
      </div>
    {% endif %}

    {% if entry.sys %}
    <div>
      <dt>Updated at</dt>
      <dd class="u-color-catchy">
        <time datetime="{{ entry.sys.updatedAt }}" class="c-prettyDate">
          <time-ago datetime="{{entry.sys.updatedAt}}">
            {{ entry.sys.updatedAt | readableDate }}
          </time-ago>
        </time>
      </dd>
    </div>
    {% endif %}

    {% if entry.fields.body %}
      <div>
        <dt>Reading time</dt>
        <dd class="u-color-catchy">{{ entry.fields.body | readingTime }}</dd>
      </div>
    {% endif %}

    {% if entry.fields.stargazers %}
      <div>
        <dt>Stargazers</dt>
        <dd class="u-color-catchy">{{ entry.fields.stargazers.totalCount }}</dd>
      </div>
    {% endif %}

    {% if entry.fields.forks %}
      <div>
        <dt>Forks</dt>
        <dd class="u-color-catchy">{{ entry.fields.forks.totalCount }}</dd>
      </div>
    {% endif %}

    {% if entry.fields.collaborators %}
      <div>
        <dt>Collaborators</dt>
        <dd class="u-color-catchy">{{ entry.fields.collaborators.totalCount }}</dd>
      </div>
    {% endif %}

    {% if entry.fields.updatedAt %}
      <div>
        <dt>Last updated</dt>
        <dd class="u-color-catchy">
          <time-ago datetime="{{entry.fields.updatedAt}}">
            {{ entry.fields.updatedAt | readableDate }}
          </time-ago>
        </dd>
      </div>
    {% endif %}
  </dl>
{% endmacro %}

{#
  SVG ICON
  ##############################################################################
#}
{% macro icon(id, options) %}
  <svg class="icon {% if options.isLarge %}is-large{% endif %}" {% if options.isHidden %}aria-hidden="true"{% endif %}>
    <use xlink:href="#icon-{{ id }}"/>
  </svg>
{% endmacro %}

{#
  ENTRY TOPICS
  ##############################################################################
#}
{% macro entryTopics(entry, options) %}
  {% if options.includeHeadline %}
    <h3>Related Topics</h3>
  {% endif %}
  <ul class="list-inline">
    {% if not options.hideContentType %}
      <li>
        <a href="{{ entry | contentTypeUrl }}" class="pile is-highlighted">
          {{ icon('hash', { isHidden: true }) }}
          {{ entry.sys.contentType.sys.id | overwriteContentType }}
        </a>
      </li>
    {% endif %}
    {%- for topic in entry.fields.topics %}
      <li>
        <a href="/topics/{{ topic.fields.slug }}/" class="pile">
          {{ icon(topic.fields.slug, { isHidden: true }) }}
          {{ topic.fields.title }}
        </a>
      </li>
    {% endfor -%}
  </ul>
{% endmacro %}

{#
  ENTRY RELATED  ENTRIES
  ##############################################################################
#}
{% macro relatedArticles(articles, entry, options) %}
  {% set relatedArticles = articles | getRelatedArticles(entry) | limit(5) %}

  {% if relatedArticles.length %}
    {% if options.includeHeadline %}
      <h3>Related Articles</h3>
    {% endif %}
    <ul class="">
      {%- for article in relatedArticles %}
        <li>
          <a href="{{ article | entryUrl }}">{{ article.fields.title }}</a>
        </li>
      {% endfor -%}
    </ul>
  {% endif %}
{% endmacro %}

{#
  ENTRY TOPICS
  ##############################################################################
#}
{% macro entryVideo(entry, options) %}
  {% if entry.fields.video %}
    <video controls="controls" preload="metadata" class="margin-top-l">
      <source src="{{ entry.fields.videoWebm.fields.file.url }}" type="video/webm">
      <source src="{{ entry.fields.video.fields.file.url }}" type="video/mp4">
    </video>
  {% endif %}
{% endmacro %}

{#
  Highlight box
  ##############################################################################
#}
{% macro highlightBox(type, options) %}
  <p class="highlightBox margin-bottom-l">
    {% if type == 'note' %}
      {{ icon('megaphone', { isHidden: true }) }}
      <span>
      This post is a quick <a href="/notes/">note</a>
      about cool things from the web.
    </span>
    {% endif %}

    {% if type == 'til' %}
      {{ icon('megaphone', { isHidden: true }) }}
      <span>
      This post is part of my <a href="/today-i-learned/">Today I learned</a>
      series in which I share all my learnings regarding web development.
    </span>
    {% endif %}

    {% if type == 'repost' %}
      {{ icon('attention', { isHidden: true }) }}
      <span>This article was initially posted on <a href="{{ options.repostUrl }}">{{ options.reportUrl | domain }}</a>
      </span>
    {% endif %}
  </p>
{% endmacro %}

{#
  SHARE BUTTON
  ##############################################################################
#}
{% macro shareButton(entry, options) %}
  <div class="margin-top-xl margin-bottom-xl text-align-c">
    <a href="https://twitter.com/intent/tweet?text='{{ entry.fields.title }}'&url=https://www.stefanjudis.com{{ options.url }}&via=stefanjudis" target="_blank" rel="noopener noreferrer" class="btn u-marginBottomSmall">
      {{ icon('share', { isHidden: true }) }} Share on Twitter
      </a>
  </div>
{% endmacro %}

{#
  Footer
  ##############################################################################
#}
{% macro footer(me) %}
  <footer class="footer">
    <div class="container two-thirds">
      <div>
        <div class="d-flex">
          <img class="b-r-50 s-square margin-right-m"
            srcset="{{me.fields.profilePhoto.fields.file.url}}?w=100 1x,
            {{me.fields.profilePhoto.fields.file.url}}?w=200 2x"
            src="{{me.fields.profilePhoto.fields.file.url}}" style="--s-size: 7.5em;">
          <div>
            {{me.fields.biography | markdown | safe}}
            <div>
              <a class="btn" href="https://twitter.com/stefanjudis/">
                Twitter
              </a>
              <a class="btn" href="https://github.com/stefanjudis/">
                GitHub
              </a>
              <a class="btn" href="https://instagram.com/stefans_little_planet/">
                Instagram
              </a>
              <a class="btn" href="https://www.youtube.com/channel/UCLpT9xDn3WQ24wfVCkAZU6A">
                YouTube
              </a>
            </div>
          </div>
        </div>
        <form name="contact" action="/pages/success" method="POST" data-netlify="true">
          <h4>Get the latest content in your inbox</h4>
          <p>
            <label>Your Email: <input type="email" name="email"/></label>
          </p>
          <p>
            <button class="btn" type="submit">Send</button>
          </p>
        </form>
      </div>
    </div>

    <web-vitals class="bg-grey-brighter"></web-vitals>
    <div class="padding-m text-align-c bg-darkgrey c-white">
      <p class="no-margin">This page is built with the CEN stack (<a class="c-white" href="https://www.contentful.com">Contentful</a>, <a class="c-white" href="https://www.11ty.dev/">Eleventy</a> &amp; <a class="c-white" href="https://www.netlify.com">Netlify</a>).</p>
      <p class="no-margin">© 2020 Copyright Stefan Judis. All rights reserved.</p>
    </div>
  </footer>
{% endmacro %}

{#
  Collection pagination
  ##############################################################################
#}
{% macro collectionPagination(pagination, options) %}
  <nav class="margin-top-xl" aria-labelledby="page-pagination">
    <h3 id="page-pagination" class="u-visually-hidden">More {{ options.type }}</h3>
    <ol class="list-pagination">
      <li>
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="btn">Previous page</a>
        {% else %}Previous page{% endif %}
      </li>
      <li>
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}" class="btn">Next page</a>
        {% else %}Next page{% endif %}
      </li>
    </ol>
  </nav>
{% endmacro %}

{#
  Grid image
  ##############################################################################
#}
{% macro gridImage(entry, options) %}
  <figure class="sqip-image {{ options.class }}" style="padding-top: {{ options.ratio * 100 }}%;">
    {{ options._sqip[entry.sys.id].svg | safe }}
    <img
          alt="{{ options.alt }}"
          width="{{1000}}"
          height="{{1000 * options.ratio}}"
          srcset="
            {{ entry.fields.file.url }}?fm=jpg&fit=scale&q=75&w={{ 300 }}&h={{ (300 * options.ratio) | round }} 300w,
            {{ entry.fields.file.url }}?fm=jpg&fit=scale&q=75&w={{ 500 }}&h={{ (500 * options.ratio) | round }} 500w,
            {{ entry.fields.file.url }}?fm=jpg&fit=scale&q=75&w={{ 700 }}&h={{ (700 * options.ratio) | round }} 700w,
            {{ entry.fields.file.url }}?fm=jpg&fit=scale&q=75&w={{ 900 }}&h={{ (900 * options.ratio) | round }} 900w,
            {{ entry.fields.file.url }}?fm=jpg&fit=scale&q=75&w={{ 1100 }}&h={{ (1100 * options.ratio) | round }} 1100w"
          sizes="
            (max-width: 50em) 98vw,
            (max-width: 75em) 48vw,
            320px"
          src="{{ item.fields.thumbnail.fields.file.url }}"
          loading="lazy"
          class="box-shadow-s margin-bottom-m"
          onload="this.classList.add('kf-fade-in')"
          >
  </figure>
{% endmacro %}

{#
  Navigation
  ##############################################################################
#}
{% macro navigation(collections, page) %}
  <nav class="navigation">
    {% set navPages = collections.all | eleventyNavigation %}

    <div class="small-nav">
      <div class="logo-nav">
        <a href="/" aria-label="Home" class="logo">
          <svg>
            <use xlink:href="#icon-heart"/>
          </svg>
        </a>

        <ul class="social-nav">
          <li class="">
            <a href="/newsletter/">
              <svg aria-hidden="true">
                <use xlink:href="#icon-letter"/>
              </svg>
              <span class="u-visually-hidden">Newsletter</span>
            </a>
          <li class="">
            <a href="https://twitter.com/stefanjudis">
              <svg aria-hidden="true">
                <use xlink:href="#icon-twitter"/>
              </svg>
              <span class="u-visually-hidden">Twitter</span>
            </a>
          <li class="">
            <a href="/rss.xml">
              <svg aria-hidden="true">
                <use xlink:href="#icon-rss"/>
              </svg>
              <span class="u-visually-hidden">RSS</span>
            </a>
        </ul>
      </div>

      <div hidden data-menu-button>
          Menu
        </div>

      <ul id="page-nav" class="page-nav is-open" data-menu>
        {%- for entry in navPages %}
          <li>
            <a href="{{ entry.url | url }}" {% if entry.url | url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>

      <script>
        (function () {
          const fakeButton = document.querySelector('[data-menu-button]');
          const menu = document.querySelector('[data-menu]');

          const toggleMenuButton = document.createElement('button');
          toggleMenuButton.textContent = fakeButton.textContent;
          toggleMenuButton.setAttribute('aria-expanded', false);
          toggleMenuButton.setAttribute('aria-controls', 'page-nav');
          toggleMenuButton
            .classList
            .add('nav-button');

          fakeButton
            .parentNode
            .replaceChild(toggleMenuButton, fakeButton);

          let menuIsOpen = false;

          toggleMenuButton.addEventListener('click', function () {
            let expanded = this.getAttribute('aria-expanded') === 'true' || false;
            this.setAttribute('aria-expanded', !expanded);
            this.innerText = menuIsOpen
              ? 'Open menu'
              : 'Close menu'
            menu
              .classList
              .toggle('is-open');

            menuIsOpen = !menuIsOpen;
          });

          menu
            .classList
            .toggle('is-open');
          toggleMenuButton.innerText = 'Open menu'
        })()
      </script>
    </div>

    <ul class="large-nav">
      <li class="margin-right-m">
        <a href="/" aria-label="Home" class="logo">
          <svg>
            <use xlink:href="#icon-heart"/>
          </svg>
        </a>
        {%- for entry in navPages %}
        <li class="margin-left-m">
          <a href="{{ entry.url | url }}" {% if entry.url | url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
      <li class="margin-left-auto">
        <a href="/newsletter/">
          <svg aria-hidden="true">
            <use xlink:href="#icon-letter"/>
          </svg>
          <span class="u-visually-hidden">Newsletter</span>
        </a>
      <li class="margin-left-s">
        <a href="https://twitter.com/stefanjudis">
          <svg aria-hidden="true">
            <use xlink:href="#icon-twitter"/>
          </svg>
          <span class="u-visually-hidden">Twitter</span>
        </a>
      <li class="margin-left-s">
        <a href="/rss.xml">
          <svg aria-hidden="true">
            <use xlink:href="#icon-rss"/>
          </svg>
          <span class="u-visually-hidden">RSS</span>
        </a>
    </ul>
  </nav>
{% endmacro %}
