# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

static/sw.js
static/workbox-sw*.js

# local config file
contentful.json

# generated sitemap
static/sitemap.xml
