# dependencies
node_modules

# vscode
.vscode

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

static/sw.js
static/workbox-sw*.js
static/workbox-sw*.js.map

# local config file
.env.json

# generated sitemap
static/sitemap.xml

# generated lambda functions
.functions

# sqip image cache and generate map
.sqip
.dist

# generated data
data

