.c-loadingIndicator {
  display : none;

  position : fixed;
  top : 1em;
  right : 1em;
  padding : 1em;

  color : $yellow-bright;

  @media (min-width: 30em) {
    top : auto;
    bottom : 1em;
  }

  .home & {
    background : $green-dark;
  }

  .blog &, .share & {
    background : $blue-dark;
  }

  .projects &, .today-i-learned & {
    background : $red-dark;
  }

  .is-offline & {
    top : 3em;
    background : #333;
  }

  &__dots {
    clip-path : polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    animation: dotty 1s infinite;
  }

  &.is-active {
    display : block;
  }
}

@keyframes dotty {
  from {
    clip-path : polygon(0 0, 0 100%, 0 100%, 0 0);
  }

  to {
    clip-path : polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}