.c-navigation {
  padding : .5em 1em;

  .home & {
    background: $green;
  }

  .writing & {
    background: $blue;
  }

  .coding & {
    background: $red;
  }

  .learning & {
    background: $red;
  }

  &__list {
    display : flex;
    justify-content: space-around;
    list-style : none;

    margin  : 0 0 0 -.175em;
    padding : 0;
  }

  &__listItem {
    margin: 0 .175em;

    > a {
      display : inline-block;

      padding : .125em;

      text-align: center;
      color : #fff;

      box-shadow : none;

      @media (min-width: 30em) {
        margin-right: 2vw;
      }

      > svg {
        display : block;
        width : 1.25em;
        fill : #fff;

        margin : -.125em auto .125em;

        @media (min-width: 30em) {
          display: inline-block;
          vertical-align : middle;

          margin-right : .25em;
          margin-left  : 0;
        }
      }
    }

    &.is-active {
      a {
        box-shadow : inset 0 -2px 0px -1px #fff;
      }
    }
  }

  &__container {
    padding-top : 3em;
  }
}
