.c-talk {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__date {
    margin-bottom : .5em;
    display : block;
  }

  &__event {
    display : inline-block;

    font-size : 1.25em;
    margin-bottom : .25em;
  }

  &__location {
    font-size: .8em;
    margin-bottom: .8em;
  }
}