<section id="{{#idCreator fields.title}}{{/idCreator}}" class="c-post">
  {{#if fields.date }}
    <date class="o-date c-post__date">{{#date fields.date}}{{/date}}</date>
  {{/if}}
  <h2 class="o-headline-3">{{ fields.title }}</h2>

  {{#if fields.body }}
    <div class="o-section__content">
      {{#marked fields.body }}{{/marked}}

      {{#if fields.video }}
        <video controls preload="metadata">
          <source src="{{ fields.video.fields.file.url }}" type="video/mp4">
        </video>
      {{/if}}
    </div>
  {{/if}}
</section>