.o-headline-1 {

}

.o-headline-2 {

}

.o-headline-3 {
  font-size   : 1.75em;
  font-family : 'ArgentCF-Regular', serif;

  letter-spacing : 1px;

  margin : 0 0 1em;
}

.o-headline-4 {

}

.o-headline-5 {

}

.o-headline-1, .o-headline-2, .o-headline-3, .o-headline-4, .o-headline-5 {
  a {
    box-shadow : none;
  }
}