.o-list-reset {
  list-style : none;

  margin  : 0;
  padding : 0;
}

.o-list-vertical {
  line-height: 1.5;
}

.o-list-thirds {
  list-style : none;

  margin : 0 -1em;
  padding : 0;

  display : flex;
  flex-direction : column;

  @media (min-width: 52em) {
    flex-direction : row;
    flex-wrap      : wrap;
  }

  &__item {
    /* safari hack */
    display : table;

    flex : 1 1 calc( 33.333% - 2em );
    margin : 0 1em 5em;

    max-width : 100%;

    @media (min-width: 52em) {
      display : block;

      max-width : 33.333%;

      margin : 0 .625em 2em;
    }
  }
}