.o-section {
  padding : 7.5em 2em;

  color : #fff;

  background-position : center center;
  background-size : auto 100%;

  &--black {
    background-color : #333;

    ::selection {
      background : #fff;
      color      : #444;
    }
  }

  &--withBackground {
    @media (min-width: 52em) {
      background-image: url(https://www.stefanjudis.de/assets/img/talksBg.jpg);
    }
  }

  &--blue {
    background-color : $blue;

    ::selection {
      background : #fff;
      color      : $blue;
    }
  }

  &--red {
    background-color : $red;

    ::selection {
      background : #fff;
      color      : $red;
    }
  }

  &--green {
    background-color : $green;

    ::selection {
      background : #fff;
      color      : $green;
    }
  }

  &--yellow {
    background-color : #fefff4;
    color : $grey-dark;
  }

  &--small {
    padding : 2.5em 2em;
  }

  &__content {
    font-size   : 1.125em;
    line-height : 1.5;
    letter-spacing: .5px;

    p {
      margin-bottom : .8em;
    }

    h1, h2, h3, h4, h5 {
      font-family    : 'ArgentCF-Regular', serif;
      letter-spacing : .1em;
    }

    strong {
      font-weight : 600;
    }

    pre {
      width    : 100vw;
      position : relative;
      left     : 50%;
      right    : 50%;

      background : #fff;

      margin-left: -50vw;
      margin-right: -50vw;

      padding: 1em 2em;
      border: 1px solid #f1f1f1;

      &::before {
        position : absolute;

        top  : -1px;
        right : 0;

        z-index : 1;

        padding : .15em .5em .25em;

        font-size   : .8em;
        font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

        background : $blue;
        color      : #fff;

        content : '<>';
      }

      &.code-html {
        &::before {
          content : '<>';
        }
      }

      &.code-javascript, &.code-json {
        &::before {
          content : '{}';
        }
      }

      &.code-bash {
        &::before {
          content : ' $ ';
        }

        .hljs-symbol {
          opacity : 0.5;
          user-select : none;
        }
      }

      code {
        display   : block;
        position  : relative;

        max-width : 50em;

        font-size : 1em;

        left      : 50%;
        transform : translate( -50%, 0 );

        background : transparent;
        color : inherit;

        border: none;

        overflow : auto;
      }
    }

    code {
      font-size : 1em;
      font-weight : 400;

      padding: .125em;
      background: #fff;
      color: $blue-dark;

      border-radius: .25em;
    }
  }



  &__headline {
    font-family    : 'ArgentCF-Regular', serif;
    font-size      : 2.5em;
    letter-spacing : 3px;

    margin : 0 0 .25em 0;

    @media (min-width:30em) {
      font-size : 3.5em;
      margin-bottom : .5em;
    }
  }

  &__smallHeadline {
    font-family    : 'ArgentCF-Regular', serif;
    font-size      : 2.25em;
    letter-spacing : 3px;

    margin : 0 0 1em 0;
  }

  &__subHeadline {
    font-size : 2em;

    margin-bottom : 2em;

    a {
      text-decoration : none;

      &::after {
        margin-left : .5em;

        content : '⟶';
      }
    }
  }
}
