---
layout: base.njk

pagination:
    data: contentful.posts
    size: 1
    alias: post

permalink: "/blog/{{ post.fields.slug }}/"

hasNarrowLayout: true

eleventyComputed:
  title: "{{ post.fields.title }}"
  desc: "{{ post.fields.description }}"
  socialUrl: "{{ post | socialImageUrl }}"
---

{% import 'macros.njk' as macros %}

{{ macros.entryDetails(post) }}
<div>TODO ad</div>
{% if post.fields.externalUrl %}
  {{ macros.highlightBox('repost', { reportUrl: post.fields.externalUrl })}}
{% endif %}

{{ post.fields.body | markdown | safe }}
{{ macros.shareButton(post, {url: page.url }) }}
{{ macros.entryTopics(post, { includeHeadline: true }) }}
{{ macros.relatedArticles(contentful.articles, post, { includeHeadline: true }) }}
