---
layout: base.njk

pagination:
  data: contentful.projects
  size: 1
  alias: project

permalink: "/projects/{{ project.fields.slug }}/"

hasNarrowLayout: true

eleventyComputed:
  title: "{{ project.fields.title }}"
---

{% import 'macros.njk' as macros %}

{{ macros.entryDetails(project) }}

{{ macros.entryTopics(project, { includeHeadline: true }) }}
