---
layout: base.njk

pagination:
  data: _githubProjects
  size: 1
  alias: project

permalink: "/projects/{{ project.name }}/"

hasNarrowLayout: true

eleventyComputed:
  title: "{{project.owner}} / {{ project.name }}"
---

{% import 'macros.njk' as macros %}

{{ macros.entryDetails({fields: project}) }}

{{project.url}}

{# {{ macros.entryTopics(project, { includeHeadline: true }) }} #}
