---
layout: base.njk

eleventyNavigation:
  key: Smalltalk
  order: 5

permalink: /smalltalk/

title: Developer Smalltalk
desc: TODO
subHeadline: Talking about tech on camera...

---

{% import 'macros.njk' as macros %}

<ul class="list-grid">
  {% for entry in contentful.screencasts %}
    <li>
      {{
          macros.gridImage(
            entry.fields.coverImage,
            {
              alt: entry.fields.title,
              ratio: 0.5625,
              _sqip: _sqip,
              class: 'margin-bottom-m'
            }
          )
      }}

      <a href="{{ entry | entryUrl }}">
        <h2>{{ entry.fields.title }}</h2>
      </a>

      {{ macros.entryTopics(entry, { includeHeadline: false, hideContentType: true }) }}

    {% endfor %}
</ul>
