---
layout: base.njk

pagination:
  data: contentful.screencasts
  size: 1
  alias: screencast

permalink: "/smalltalk/{{ screencast.fields.slug }}/"

hasNarrowLayout: true

eleventyComputed:
  title: "{{ screencast.fields.title }}"
---

{% import 'macros.njk' as macros %}

{{ macros.entryDetails(screencast) }}

{{ macros.entryTopics(screencast, { includeHeadline: true }) }}
