---
layout: base.njk

eleventyNavigation:
  key: Talks
  order: 4

permalink: /talks/

title: Talks
desc: TODO
subHeadline: Being nervous in front of people...
---

{% import 'macros.njk' as macros %}

<ul class="list-grid">
  {% for entry in contentful.talks %}
    <li>
      {{
        macros.gridImage(
          entry.fields.thumbnail,
          {
            alt: entry.fields.title,
            ratio: 0.5625,
            _sqip: _sqip,
            class: 'margin-bottom-m'
          }
        )
      }}

      <a href="{{ entry | entryUrl }}">
        <h2 class="o-headline-4">{{ entry.fields.title }}</h2>
      </a>

      {{ macros.entryTopics(entry, { includeHeadline: false, hideContentType: true }) }}
    {% endfor %}
</ul>
