---
layout: base.njk

pagination:
    data: contentful.tilPosts
    size: 1
    alias: post

permalink: "/today-i-learned/{{ post.fields.slug }}/"

hasNarrowLayout: true

eleventyComputed:
  title: "{{ post.fields.title }}"
  desc: "{{ post.fields.description }}"
  socialUrl: "{{ post | socialImageUrl }}"
---

{% import 'macros.njk' as macros %}

{{ macros.entryDetails(post) }}

<div>TODO ad</div>

{{ macros.highlightBox('til') }}
{{ post.fields.body | markdown | safe }}
{{ macros.entryVideo(post) }}
{{ macros.shareButton(post, {url: page.url }) }}
{{ macros.entryTopics(post, { includeHeadline: true }) }}
{{ macros.relatedArticles(contentful.articles, post, { includeHeadline: true }) }}
