.o-anchorContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0 0 1.75em;

  a {
    position: absolute;
    /* TODO get rid of this magic number */
    top: 33%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--c-highlight);
    background: transparent;
    margin: 0 0.25em 0 0;
    text-decoration: none;
    text-shadow: none;
  }

  &:target {
    background: var(--blue-brighter);
    border-radius: 0.25em;
  }
}
