.o-anchorHeadline {
  &::before {
    content: "#";
    padding: 0.125em 0.375em;
    background: var(--grey-bright);
    border-radius: 0.125em;
    margin-right: 0.5em;
    font-weight: 800;
    color: var(--c-highlight);
  }

  &:hover {
    &::before {
      background: var(--c-highlight);
      color: #fff;
    }
  }
}

.o-anchorContainer {
  position: relative;

  padding-right: 1.5em;

  a {
    position: absolute;
    right: -0.875em;
    top: 50%;
    padding: 0.25em 0.75em;
    color: var(--c-highlight);
    background: var(--grey-bright);
    text-decoration: none;
    transform: translateY(-50%);

    &:hover {
      color: #fff;
      background: var(--c-highlight);
    }
  }
}
