.o-anchorHeadline {
  &::before {
    content: "#";
    padding: 0.125em 0.375em;
    background: var(--grey-bright);
    border-radius: 0.125em;
    margin-right: 0.5em;
    font-weight: 800;
    color: var(--c-highlight);
  }

  &:hover {
    &::before {
      background: var(--c-highlight);
      color: #fff;
    }
  }
}

.o-anchorContainer {
  position: relative;

  padding-right: 1.5em;

  @media (min-width: 52em) {
    padding-right: 0;
  }

  a {
    position: absolute;
    right: -0.875em;
    top: 0.25em;
    padding: 0.25em 0.75em;
    color: var(--c-highlight);
    background: var(--grey-bright);
    text-decoration: none;

    &:hover {
      color: #fff;
      background: var(--c-highlight);
    }

    @media (min-width: 52em) {
      right: calc(100% + 1em);
      top: 50%;
      transform: translate(0, -50%);
      background: var(--c-highlight);
      box-shadow: inset -0.0625em 0 0.25em -0.25em #333;
      border-radius: 0.125em 0 0 0.125em;
      color: #fff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
