.o-btn {
  display: inline-block;
  font-size: 1em;
  line-height: 1.5;
  border: none;
  background: var(--c-highlight);
  background: var(--c-highlight-gradient);
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 1em / 50%;
  text-shadow: 0 1px 1px var(--grey-dark);
  transition: transform 0.125s ease-in-out;
  box-shadow: var(--shadow-btn);
  cursor: pointer;

  &:hover:not(:disabled) {
    background: var(--c-highlight);
    color: #fff;
    text-shadow: 0 1px 2px var(--grey-dark);

    transform: translate(0, -0.0625em);
  }

  &:focus {
    color: #fff;
  }

  &:active {
    filter: brightness(0.75);
  }

  &:disabled {
    box-shadow: none;
    background: var(--grey);
    color: var(--grey-dark);
    text-shadow: none;
  }
}

.o-btn--small {
  padding: 0.25em 0.5em;
}

.o-btn--green {
  background: var(--green-dark);

  &:hover {
    background: var(--green-dark);
  }
}

.o-btn--ghost {
  background: var(--grey-bright);
  color: var(--c-highlight);
  text-shadow: none;

  &:not(:disabled) {
    &:hover,
    &:focus {
      color: var(--c-highlight);
      background: var(--grey-bright);
      text-shadow: none;
      text-decoration: underline;
    }
  }
}

.o-btn--tiny {
  font-size: 0.75em;
  padding: 0.25em 0.5em;
}

.o-btn--icon {
  width: 2.5em;
  height: 2.5em;
  background: var(--grey-very-dark);
  color: var(--grey-bright);
  border: none;
  border-radius: 50%;
  padding: 0.25em;

  svg {
    width: 100%;
    height: 100%;

    path {
      fill: currentColor;
    }
  }

  &:hover {
    background: var(--c-highlight);
    color: #fff;
    text-shadow: 0 1px 2px var(--grey-dark);

    transform: translate(0, -0.0625em);
  }

  &:active {
    filter: brightness(0.75);
  }
}

.o-btn--floating {
  color: #fff;
  padding: 0.25em 0.75em;
  box-shadow: 0 0.375em 1.5em var(--c-shadow-color);
}
