.o-btn {
  font-size: 1em;
  border: none;
  background: var(--grey-dark);
  color: #fff;
  padding: .5em 1em;
  text-decoration: none;
  border-radius: .125em;

  &:hover {
    background: var(--c-highlight);
    color: #fff;
  }

  &:active {
    filter: brightness(.75)
  }
}

.o-btn--small {
  padding: .25em .5em;
}
