.o-code {
  position: relative;

  background: #333;

  padding: 1em;
  margin: 0.25em -1em;

  &:not(.o-code-whatevs) {
    padding-top: 3em;
  }
}

.o-code::before {
  position: absolute;
  top: 0.5em;
  right: 1em;

  z-index: 1;

  font-size: 0.75em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--blue-bright);
}

.o-code.o-code-html::before {
  content: 'HTML';
}
.o-code.o-code-css::before {
  content: 'CSS';
}
.o-code.o-code-javascript::before {
  content: 'JavaScript';
}
.o-code.o-code-json::before {
  content: 'json';
}
.o-code.o-code-bash::before {
  content: 'bash';
}

.o-code code {
  display: block;
  position: relative;
  max-width: 40em;
  font-size: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background: transparent;
  color: inherit;
  border: none;
  overflow: auto;
  color: #ddd !important;
}

.o-code .token.keyword,
.o-code .token.boolean,
.o-code .token.number {
  color: var(--blue-bright);
  font-weight: bold;
}
.o-code .token.string,
.o-code .token.property,
.o-code .token.template-string {
  color: var(--red-bright);
}
.o-code .token.tag {
  color: var(--blue-bright);
  font-weight: bold;
}
.o-code .token.attr-name {
  color: #ddd;
  font-weight: normal;
}
.o-code .token.attr-value {
  color: var(--red-bright);
  font-weight: normal;
}
.o-code .token.attr-value .punctuation {
  color: var(--grey);
}
.o-code .token.atrule .rule {
  color: var(--red-bright);
}
.o-code .token.selector {
  color: var(--blue-bright);
}
.o-code .token.comment {
  color: #aaa;
}
