.o-code {
  position: relative;

  background: #313131;
  border-radius: 0.25em;

  padding: 1em var(--grid-outer-padding);
  margin: 2em 0;

  &:not(.o-code-whatevs) {
    padding-top: 3em;
  }
}

.o-code::before {
  position: absolute;
  top: 1em;
  right: var(--grid-outer-padding);

  z-index: 1;

  font-size: 0.75em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--blue-bright);
}

.o-code.o-code-html::before {
  content: 'HTML';
}
.o-code.o-code-css::before {
  content: 'CSS';
}
.o-code.o-code-javascript::before {
  content: 'JavaScript';
}
.o-code.o-code-json::before {
  content: 'json';
}
.o-code.o-code-bash::before {
  content: 'bash';
}

.o-code code {
  display: block;
  position: relative;
  max-width: 40em;
  font-size: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  background:
    linear-gradient(to right, rgb(49, 49, 49) 30%, rgba(49, 49, 49, 0)),
    linear-gradient(to right, rgba(49, 49, 49, 0), rgb(49, 49, 49) 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 50px 100%, 50px 100%, 25px 100%, 25px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
	background-attachment: local, local, scroll, scroll;
  color: inherit;
  border: none;
  overflow: auto;
  color: #ddd !important;
}

.o-code .token.keyword,
.o-code .token.boolean,
.o-code .token.number {
  color: var(--blue-bright);
  font-weight: bold;
}
.o-code .token.string,
.o-code .token.property,
.o-code .token.template-string {
  color: var(--red-bright);
}
.o-code .token.tag {
  color: var(--blue-bright);
  font-weight: bold;
}
.o-code .token.attr-name {
  color: #ddd;
  font-weight: normal;
}
.o-code .token.attr-value {
  color: var(--red-bright);
  font-weight: normal;
}
.o-code .token.attr-value .punctuation {
  color: #9a9a9a;
}
.o-code .token.atrule .rule {
  color: var(--red-bright);
}
.o-code .token.selector {
  color: var(--blue-bright);
}
.o-code .token.comment {
  color: #9a9a9a;
  font-style: italic;
}
