.o-headline-1,
.o-headline-2,
.o-headline-3,
.o-headline-4 {
  color: var(--c-text-catchy);
  font-weight: 700;
  margin: 0 0 0.5em;
  padding: 0;
  line-height: 1.25;

  svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }

  a {
    display: flex;
    align-items: center;
    background: transparent;
    text-decoration: none;
  }

  span {
    display: contents;
  }
}

.o-headline__highlighted {
  border-bottom: 2px solid currentColor;
  padding: 0 0 0.25em;
  margin-bottom: 1em;
}

.o-headline__inline {
  display: inline;
}

.o-headline-1 {
  font-size: 2.25em;
}

.o-headline-2 {
  font-size: 1.5em;
}

.o-headline-3 {
  font-size: 1.125em;
}

.o-headline-4 {
  font-size: 1em;
}
