.o-highlightBox {
  display: flex;
  align-items: center;
  padding: 1em;
  background: var(--grey-brighter);

  &__icon {
    flex-shrink: 0;
    width: 2em;
    height: 2em;
    margin-right: 1em;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
