.o-list-reset {
  list-style: none;

  margin: 0;
  padding: 0;
}

.o-list-thirds {
  list-style: none;

  margin: 0 -0.5em;
  padding: 0;

  display: flex;
  flex-direction: column;
}

@media (min-width: 52em) {
  .o-list-thirds {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.o-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.o-list-inline > li {
  margin: 0;
  padding: 0;

  display: inline-block;
  vertical-align: middle;
}

.o-list-grid {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 3em;
}

.o-list-gridSmall {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

.o-list-flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
