.c-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 1em;
  background: #fff;

  border-top: .25em solid var(--c-highlight);
  border-radius: .125em .25em 0 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    box-shadow: var(--shadow-tile);

    content: '';

    z-index: -1;
  }

  &--noHighlight {
    border-top: none;
  }

  &--bigHighlight {
    border-top-width: 8em;
  }

  &__image {
    margin: -1em -1em 0 -1em;
    border-radius: .125em .25em 0 0;
    overflow: hidden;
  }

  &__footer {
    margin-top: auto;

    margin-bottom: -1em;
    margin-left: -1em;
    margin-right: -1em;

    > a, > button {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      padding: 1em;
      margin-top: .5em;
      font-size: 1em;
      border: none;
      background: var(--grey-bright);
      color: var(--c-highlight);

      &:hover {
        color: white;
        background: var(--c-highlight);
        text-shadow: 0 1px 2px var(--grey-very-dark);
      }
    }
  }
}
