.margin {
  &-bottom {
    &-m {
      margin-bottom: 1em;
    }

    &-l {
      margin-bottom: 2em;
    }

    &-xl {
      margin-bottom: 4em;
    }
  }

  &-top {
    &-s {
      margin-top: 0.25em;
    }
    &-l {
      margin-top: 2em;
    }
    &-xl {
      margin-top: 4em;
    }
  }

  &-right {
    &-m {
      margin-right: 1em;
    }
    &-l {
      margin-right: 2em;
    }
  }

  &-left {
    &-s {
      margin-left: 0.5em;
    }
    &-m {
      margin-left: 1em;
    }
    &-l {
      margin-left: 2em;
    }
  }

  &-left-auto {
    margin-left: auto !important;
  }
}

.no-margin {
  margin: 0;
}
