.highlightBox {
  display: flex;
  align-items: center;
  padding: 1em;
  background: var(--grey-brighter);

  svg {
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
  }
}
