.navigation {
  padding: 1em var(--grid-outer-padding);

  a {
    text-decoration: none;
    display: block;
    padding: .25em .375em;

    &[aria-current="page"] {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      font-weight: bold;
    }
  }

  svg {
    display: block;
    width: 1.5em;
    height: 1.5em;
  }
}


.small-nav {
  @media (min-width: 56em) {
    display: none;
  }

  .logo {
    width: 2em;
    height: 2em;
    display: block;
  }

  .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  .nav-button {
    display: block;
    width: 7em;
    border: none;
    border-radius: 0.25em;
    background: transparent;
    font-size: 1em;
    margin: 0 auto 1em;
  }

  .social-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    li + li {
      margin-left: 0.75em;
    }
  }

  .page-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-wrap: wrap;

    &.is-open {
      display: flex;
    }

    > li {
      padding: .25em 0;
      text-align: center;
      flex: 1 0;
      min-width: 8.75em;
    }
  }
}

.large-nav {
  display: none;

  @media (min-width: 56em) {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
