web-vitals {
  display: block;
  padding: 1em;

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    justify-content: center;
    gap: 1em;
    text-align: center;
  }

  dd {
    margin: 0;
    font-size: 1.375em;
    font-weight: 800;
    color: var(--c-text-catchy);
  }
}
