.three-things-to-consider-before-your-progressive-web-app-goes-standalone {
  video {
    max-width : 20em;
  }
}

video {
  display : block;

  border: .5em solid #fff;
  box-shadow: 0 .0625em .125em #888;

  margin : 1em auto;
}