.u-marginTop {
  margin-top : 1em;
}

.u-marginTopLarge {
  margin-top : 2em;
}

.u-marginTopAuto {
  margin-top : auto;
}

.u-marginBottomSmall {
  margin-bottom : .5em;
}

.u-marginBottom {
  margin-bottom : 1em;
}

.u-marginBottomLarge {
  margin-bottom : 2em;
}

.u-marginBottomHuge {
  margin-bottom : 4em;
}

.u-marginRight {
  margin-right: 1em;
}

.u-displayBlock {
  display : block;
}

.u-underline {
  box-shadow : inset 0 -2px 0px -1px #fff;
}

.u-width-10 {
  width: 10em;
}