<!doctype html>
<html class="" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {{ data.fields.title }}
  </title>
  <meta name="description" content="{{ data.fields.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="style/main.css">

  {{#if fields.crosslink }}
    <link rel="canonical" href="{{ fields.crosslink.fields.url }}">
  {{/if}}
</head>

<body class="writing">
  {{> navigation }}


  <main>
    <section class="o-section o-section--yellow o-section--small">
      <div class="o-container">
        <date class="o-date u-marginBottom">{{#date data.fields.date}}{{/date}}</date>
        <h1 class="o-section__smallHeadline">{{ data.fields.title }}</h1>
        {{#if data.fields.crosslink }}
          <div class="c-post__canonical" role="alert">This post was initially published at <a href="{{ data.fields.crosslink.fields.url }}">{{ data.fields.crosslink.fields.originalName }}</a>.</div>
        {{/if}}
        <div class="o-section__content">{{#marked data.fields.body }}{{/marked}}</div>

      </div>
    </section>
    {{#if data.fields.comments}}
    <section class="o-section o-section--yellow o-section--small">
      <div class="o-container">
        <h3 class="o-section__smallHeadline">Any comments?</h3>
        <div id="disqus_thread"></div>
      </div>
    </section>
    {{/if}}
    <footer class="o-section o-section--green o-section--small">
      <div class="o-container">
        {{> author author=data.fields.author.[0] }}
      </div>
    </footer>
  </main>
  {{#if data.fields.comments}}
    {{> discuss}}
  {{/if}}

  {{> tracking}}
</body>
</html>