<!doctype html>
<html class="" lang="en">
<head>
  {{> head title=data.fields.title description=data.fields.description fingerprint=fingerprint }}

  <meta name="theme-color" content="#3a99d8">
</head>

<body class="writing">
  {{> navigation }}

  <main>
    <section class="o-section o-section--yellow o-section--small">
      <div class="o-container">
        <date class="o-date u-marginBottom">{{#date data.fields.date}}{{/date}}</date>
        <h1 class="o-section__smallHeadline">{{ data.fields.title }}</h1>
        <div class="o-section__content">{{#marked data.fields.body }}{{/marked}}</div>

      </div>
    </section>
    {{#if data.fields.comments}}
    <section class="o-section o-section--yellow o-section--small">
      <div class="o-container">
        <h3 class="o-section__smallHeadline">Any comments?</h3>
        <div id="disqus_thread"></div>
      </div>
    </section>
    {{/if}}
    <footer class="o-section o-section--blue o-section--small">
      <div class="o-container">
        {{> author author=data.fields.author.[0] }}
      </div>
    </footer>
  </main>
  {{#if data.fields.comments}}
    {{> discuss}}
  {{/if}}

  {{> tracking}}
</body>
</html>