<!doctype html>
<html class="" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {{ title }}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="style/main.css">
</head>

<body>
  {{> navigation }}

  <main>
    <section class="o-section o-section--yellow c-navigation__container">
      <div class="o-container">
        <h1 class="o-section__headline">{{ title }}</h1>
        <ul class="o-list-reset">
          {{#each data.entries}}
            <li class="u-marginBottomHuge">
              {{> articles/medium this }}
          {{/each}}
        </ul>
      </div>
    </section>
  </main>
  {{> tracking}}
</body>
</html>