<!doctype html>
<html class="" lang="en">
<head>
  {{> head title=title description=description fingerprint=fingerprint }}
  <meta name="theme-color" content="#29bb9c">

  {{> sw }}
</head>

<body class="home">
  {{> navigation }}

  <main>
    <section class="o-section o-section--yellow c-navigation__container">
      <div class="o-container">
        <h1 class="o-section__headline">{{common.me.items.[0].fields.welcomeMessage}}</h1>
        <div class="u-marginTop">
          {{> author author=common.me.items.[0] }}
        </div>
      </div>
    </section>

    <section class="o-section o-section--blue">
      <div class="o-container">
        <h2 class="o-section__headline">Check out my Blog</h2>
        <div class="o-section__subHeadline">
          <p>When I'm not coding, I'm writing.</p>
        </div>

        <ul class="o-list-thirds u-marginTopLarge u-marginBottomLarge">
          {{#eachLimit common.recent_posts.items 3 }}
            <li class="o-list-thirds__item">
              {{> articles/small this }}
          {{/eachLimit}}
        </ul>

      </div>
    </section>

    <section class="o-section o-section--black" style="background-image: url(assets/img/talksBg.jpg);">
      <div class="o-container">
        <h2 class="o-section__headline">Talks</h2>
        <ul class="o-list-thirds u-marginTopLarge u-marginBottomLarge">
          {{#eachLimit common.recent_talks.items 3 }}
            <li class="o-list-thirds__item">
              {{> talks/small this }}
          {{/eachLimit}}
        </ul>

      </div>
    </section>

    <section class="o-section o-section--red">
      <div class="o-container">
        <h3 class="o-section__headline">Projects</h3>
        <ul class="o-list-thirds u-marginTopLarge u-marginBottomLarge">
          {{#eachLimit common.recent_projects.items 3 }}
            <li class="o-list-thirds__item">
              {{> projects/small this }}
          {{/eachLimit}}
        </ul>
        <div class="o-section__subHeadline">
          <p>Check out <a href="https://github.com/stefanjudis">my latest projects on GitHub</a></p>
        </div>
      </div>
    </section>
  </main>
  {{> tracking}}
</body>
</html>
