{% import 'macros.njk' as macros %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }} | Stefan Judis Web Development</title>
    <meta name="description" content="desc | safe">

    {% if socialUrl %}
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="{{ page.url }}">
      <meta property="twitter:title" content="{{ title | safe }}">
      <meta property="twitter:description" content="{{ desc | safe }}">
      <meta property="twitter:image" content="{{ socialUrl }}">
    {% endif %}

    <!-- TODO add json ld -->
    <link rel="icon" href="/favicon.svg">
    <link rel="mask-icon" href="/favicon.svg" color="#ffffff">
    <link rel="alternate" type="application/rss+xml" title="Stefan Judis Web Development" href="https://www.stefanjudis.com/rss.xml">

    <!-- TODO add dummy for the other feeds -->

    <script>
      (function () {
        if (sessionStorage.fontsLoadedFoutWithClass) {
          document.documentElement.className += " fonts-loaded";
          return;
        }

        if ("fonts" in document) {
          document
            .fonts
            .load("1em Oswald")
            .then(function () {
              document.documentElement.className += " fonts-loaded";

              // Optimization for Repeat Views
              sessionStorage.fontsLoadedFoutWithClass = true;
            });
        }
      })();
    </script>

    {% if post.fields.externalUrl %}
      <meta name="robots" content="noindex,nofollow">
      <link rel="canonical" href="{{ post.fields.externalUrl }}"/>
    {% endif %}

    <style>
      {{css | safe}}
    </style>

    {% include 'sprite.svg' %}
  </head>
  <body class="{{ page.url | slug }}">
    <header>
      <a href="#main" class="skip-link">Skip to content</a>

      {{ macros.navigation(collections, page) }}
    </header>
    <div class="
      container bg-default
      {% if includesSidebar %}two-thirds{% endif %}
      {% if hasNarrowLayout %}has-accessible-line-length{% endif %}
    ">
      <div>
        <main class="padding-bottom-xl" id="main">
          <div class="page-header {% if subHeadline %}includes-subline{% endif %}">
            <h1 class="fancy-font o-headline-1">
              {% if icon %}
                {{ macros.icon(icon, { isHidden: true }) }}
              {% endif %}

              {{ headline or title | safe }}
            </h1>
            {% if subHeadline %}
              <div class="page-subline">{{ subHeadline }}</div>
            {% endif %}
          </div>

          {{ content | safe }}
        </main>

        {% if includesSidebar %}
          <aside>
            <div class="margin-bottom-xl">
              {{ macros.shortList("Most popular Posts", _popularPosts, 5, 'popular-posts') }}
            </div>

            <div class="margin-bottom-xl">
              {{ macros.shortList("Past Newsletters", contentful.posts | sortedByDate('fields.date'), 3, 'newsletter') }}
            </div>

            <div class="margin-bottom-xl">
              {{ macros.shortList("Recent Today I learned posts", contentful.tilPosts | sortedByDate('fields.date'), 3, 'today-i-learned') }}
            </div>

            <div class="margin-bottom-xl">
              {{ macros.shortList("Last updated Resources", contentful.resources | sortedByDate('sys.updatedAt'), 3, 'resources') }}
            </div>
          </aside>
        {% endif %}
      </div>
    </div>

    {{ macros.footer() }}
  </body>
</html>
