.btn {
  display: inline-flex;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  background: var(--blue-dark);
  color: #fff;
  border: none;
  padding: 0.375em 1em;
  text-decoration: none;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 0 3px 6px var(--grey-bright);

  > svg {
    color: #fff;
    fill: currentColor;
  }

  &:hover {
    background: var(--blue);
    box-shadow: 0 2px 8px var(--grey-bright);
    transform: translate(0 -1px);
  }

  &:active,
  &:focus {
    outline-color: var(--blue-dark);
    box-shadow: none;
  }
}
