@import 'base.css';
@import 'button.css';
@import 'components/entry.css';
@import 'components/footer.css';
@import 'components/highlight-box.css';
@import 'components/navigation.css';
@import 'components/page.css';
@import 'components/skip-link.css';
@import 'components/sqip-image.css';
@import 'components/web-vitals.css';
@import 'background.css';
@import 'box-shadow.css';
@import 'code.css';
@import 'entry-details.css';
@import 'font.css';
@import 'grid.css';
@import 'headline.css';
@import 'link.css';
@import 'list.css';
@import 'markdown.css';
@import 'pile.css';
@import 'util.css';
@import 'util/padding.css';
@import 'util/margin.css';
@import 'util/text.css';
@import 'shame.css';

.container {
  margin: 0 auto;
  padding: var(--grid-padding-overall);

  > div {
    max-width: 68em;
    margin: 0 auto;
  }

  @media (min-width: 60em) {
    &.two-thirds {
      > div {
        display: grid;
        grid-template-columns: 1fr 33.33%;
        grid-gap: 5em;
      }
    }
  }
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-bottom: -0.125em;
}
